* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-grid {
  display: grid;
  grid-gap: 0px;
  margin-right: 20px;
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  gap: 0px;
}
